<!-- Para que las etiquetas "mat-sidenav-container" y las que se encuentren dentro de esta deje de dar error,
debemos importat el módulo "MatSidenavModule" desde "@angular/material/sidenav"
en el archivo del módulo "MaterialModule" -->

<!-- HEADER -->
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push">
    <!-- Contiene tres modos, los cuales son como efectos
    side: Sidenav aparece al lado del contenido principal, reduciendo el ancho del contenido principal para dejar espacio para el sidenav.
    push: Sidenav empuja el contenido principal fuera de su camino, cubriéndolo también con un fondo
    over: Sidenav flota sobre el contenido principal, que está cubierto por un fondo.
     -->
    <mat-toolbar color="primary">
      Menu
      <!-- El "color=primary" lo toma dependiendo de la plantilla del theme que hayamos escogido al instalar el "@angular/material" (asigna el color peincipal de esta plantilla)-->
    </mat-toolbar>
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (toggleSidenav)="sidenav.toggle()"></app-header>
    <router-outlet></router-outlet>
    <!-- Estas son las rutas -->
    <app-footer></app-footer>
  </mat-sidenav-content>
<!-- end HEADER -->
  
</mat-sidenav-container>